.st-emotion-cache-1wrcr25{
    
    background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    opacity: 75%;
    background-repeat: no-repeat;
    background-size: cover;
}
.st-emotion-cache-1y4p8pa{
    padding-left: 1rem;
    padding-right: 1rem;
}
.st-emotion-cache-1u0finp{
    background:rgb(49 49 88 / 2%);
}
input {
    font-size: 1rem !important;
    box-sizing: border-box !important;   
}
